<article title="<%= post.title%>">
    <div class="article-thumb<% if (is_right) {%> article-thumb-right<% } %>">
        <a href="<%= post.path%>" target="_blank">
            <img src="<%= url_for(post.thumb) %>" class="article-img" alt="<%= post.title %>" />
        </a>
    </div>
    <div class="article-content<% if (is_right) {%> article-content-right<% } %>">
        <div class="article-date"><i class="fa fa-clock-o"></i> 发布于 <%= date(post.date, null)%></div>
        <h3 class="article-title"><a href="<%= post.path%>" target="_blank"><%= post.title%></a></h3>
        <div class="article-meta">
            <% post.tags.forEach(function (tag){%>
            <span><i class="fa fa-tags"></i> <%= tag.name %></span>
            <% }); %>
            <% post.categories.forEach(function (category){%>
            <span><i class="fa fa-folder"></i> <%= category.name %></span>
            <% }); %>
        </div>
        <div class="article-description">
            <%- post.excerpt%>
        </div>
        <div class="article-bottom">
            <a href="<%= post.path%>" target="_blank">Read on &raquo;</a>
        </div>
    </div>
</article>