<div class="footer">
    <div>
        <p>Crafted with <i class="fa fa-heart heart"></i> by Kipsora | Powered by <a href="https://hexo.io" target="_blank">Hexo</a></p>
        <p>Copyright © <%= (new Date()).getFullYear() %> by <%= config.author %></p>
    </div>
    <div>
        <a href="https://www.google.com/intl/ja/analytics/" target="_blank" rel="nofollow"><img src="<%= url_for('img/google.svg')%>" alt="Google Analytics" /></a>
        <a href="https://github.com" target="_blank" rel="nofollow"><img src="<%= url_for('/img/github.png')%>" alt="GitHub" /></a>
        <a href="https://coding.net" target="_blank" rel="nofollow"><img src="<%= url_for('/img/coding.png')%>" alt="Coding" /></a>
        <a href="https://disqus.com" target="_blank" rel="nofollow"><img src="<%= url_for('/img/disqus.svg')%>" alt="Coding" /></a>
        <a href="https://pixiv.net" target="_blank" rel="nofollow"><img src="<%= url_for('/img/pixiv.png')%>" alt="Pixiv" /></a>
    </div>
</div>