<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><% if (page.title) {%><%= page.title %> - <%} %><%= config.title %></title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Merriweather%7CMerriweather+Sans%7CNoto+Serif%7CSource+Code+Pro%7CUbuntu:400,700" rel="stylesheet" />
    <!--<link href="https://cdn.jsdelivr.net/gh/moezx/cdn@3.1.8/css/cn.css" rel="stylesheet" />-->
    <!--<link href="https://cdn.jsdelivr.net/gh/moezx/cdn@3.1.8/css/or.css" rel="stylesheet" />-->
    <link rel="stylesheet" type="text/css" href="<%= url_for('css/sora.css')%>" />
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/aplayer@1.10.1/dist/APlayer.min.css">
    <script src="https://cdn.jsdelivr.net/npm/aplayer@1.10.1/dist/APlayer.min.js"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=<%= config.google_analytics_id %>"></script>
    <link rel="icon" href="<%= url_for('/favicon.ico')%>" type="image/x-icon" />
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '<%= config.google_analytics_id %>');
    </script>
</head>